<form>
  <p>Adres</p>
  <label>Imię<input type="text" id="name"></label>
  <label>Nazwisko<input type="text" id="surname"></label>
  <label>Ulica<input type="text" id="street"></label>
  <label>Kod pocztowy<input type="number" id="post-number"></label>
  <label>Ulica<input type="text" id="street"></label>
  <label>Czy adres dostawy taki sam?<input type="checkbox"></label>
  <div>
    <p>Adres dostawy</p>
    <label>Ulica<input type="text" id="street"></label>
    <label>Kod pocztowy<input type="number" id="post-number"></label>
    <label>Ulica<input type="text" id="street"></label>
    <label>Czy faktura VAT?<input type="checkbox" id="is-invoice"></label>
  </div>
  <div>
    <p>Dane do faktury</p>
    <label>Nazwa firmy<input type="text" id="street"></label>
    <label>nr NIP<input type="number" id="invoice-number"></label>
  </div>
  <div>
    <p>Sposób dostawy</p>
    <select id="delivery-choice">
      <option>Przelew</option>
      <option>Za pobraniem</option>
    </select>
  </div>
</form>
