<form>
  <div>
    <p>Adres</p>
    <label>Imię<input type="text" id="name"></label>
    <label>Nazwisko<input type="text" id="surname"></label>
    <label>Kod pocztowy<input type="number" id="postNumber"></label>
    <label>Ulica<input type="text" id="street"></label>
    <label>Czy adres dostawy taki sam?<input type="checkbox" name="deliveryAdressCheck" (click)="checkboxChange($event)"></label>
  </div>
  <div *ngIf="!isdeliveryAdressCheck">
    <p>Adres dostawy</p>
    <label>Ulica<input type="text" id="streetDelivery"></label>
    <label>Kod pocztowy<input type="text" id="postNumberDelivery"></label>
    <label>Czy faktura VAT?<input type="checkbox" id="isInvoiceDelivery" (click)="checkboxChange($event)"></label>
  </div>
  <div *ngIf="!isInvoice">
    <p>Dane do faktury</p>
    <label>Nazwa firmy<input type="text" id="streetInvoice"></label>
    <label>nr NIP<input type="number" id="invoiceNumber"></label>
  </div>
  <div>
    <p>Sposób płatności</p>
    <select id="paymentChoice" (change)="changePaymentCost($event.target.value)">
      <option value="PRZELEW">Przelew</option>
      <option value="POBRANIE">Za pobraniem</option>
    </select>
    <span *ngIf="paymentCost > 0">+ {{paymentCost}} zł</span>
  </div>
  <div>
    <p>Sposób dostawy</p>
    <select id="deliveryChoice" (change)="getShippingCost($event.target.value)">
      <option value="KURIER" selected>Kurier</option>
      <option value="PACZKOMAT">Paczkomat</option>
      <option value="OSOBISTY">Odbiór osobisty</option>
    </select>
    <p>Koszt dostawy: {{shippingCost}}</p>
    <p class="summary-cost">Cena z dostawą{{amount}}</p>
  </div>
</form>
